In [4]:
import os
import numpy as np
import pandas as pd
from datetime import datetime
path = "Multivariate//Data//Market Data//"
names = os.listdir(path)
names

['CL1 COMB Comdty.xlsx',
 'CO1 Comdty.xlsx',
 'DCOILBRENTEU.csv',
 'DJCINGT Index.xlsx',
 'DWCOGS Index.xlsx',
 'DWCOGST Index.xlsx',
 'DXY Curncy.xlsx',
 'FZWWFST  VTXA Index.xlsx',
 'GEAE Index.xlsx',
 'OEEOWDVG Index.xlsx',
 'OMRSD001 Index.xlsx',
 'OMRSD401 Index.xlsx',
 'OPCRTOTL Index.xlsx',
 'OPECDALY Indexl.xlsx',
 'SCP1 COMB Comdty.xlsx',
 'SPGOGUP Index.xlsx',
 'SPSIOP Index.xlsx',
 'SPX Index.xlsx',
 'VIX Index.xlsx']

In [5]:
target_df = pd.read_csv("DCOILBRENTEU.csv",index_col = 0)
target_df.index = pd.to_datetime(target_df.index)
target_df.index

DatetimeIndex(['1987-05-20', '1987-05-21', '1987-05-22', '1987-05-25',
               '1987-05-26', '1987-05-27', '1987-05-28', '1987-05-29',
               '1987-06-01', '1987-06-02',
               ...
               '2021-03-02', '2021-03-03', '2021-03-04', '2021-03-05',
               '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11',
               '2021-03-12', '2021-03-15'],
              dtype='datetime64[ns]', name='DATE', length=8824, freq=None)

In [6]:
def process_df(df1,name):
    df = df1.copy()
    df = df.iloc[::-1]
    df = df.dropna()
    df.index.name = None
    if len(df.columns) > 1:
        df.columns = [name,name+'vol']
    else:
        df.columns = [name]
    df.index = pd.to_datetime(df.index)
    dates = pd.date_range(df.first_valid_index().date(),df.last_valid_index().date(),freq = 'D')
    df1 = pd.DataFrame(index=dates)
    df = pd.concat([df1,df],axis = 1)
    df = df.sort_index()
    df = df.ffill()
    return df

In [7]:
df1 = pd.read_excel(path+names[0],index_col = 0,header = 6)

df1 = process_df(df1,names[0][:-5])
df = pd.read_excel(path+names[1],index_col = 0,header = 6)

df = process_df(df,names[1][:-5])
df1.index[-1]

Timestamp('2021-03-15 00:00:00', freq='D')

In [8]:
df.index[-1] == df1.index[-1]

True

In [9]:
target_df = target_df.ffill()
target_df

           DCOILBRENTEU
DATE
1987-05-20        18.63
1987-05-21        18.45
1987-05-22        18.55
1987-05-25        18.60
1987-05-26        18.63
...                 ...
2021-03-09        67.03
2021-03-10        67.53
2021-03-11        69.34
2021-03-12        68.87
2021-03-15        68.78

[8824 rows x 1 columns]

In [10]:
target_df = process_df(target_df,'WFI')
df_all = target_df#pd.DataFrame()
for i in [-6,-5,-3,-1,7]:

    df = pd.read_excel(path+names[i],index_col = 0,header = 6)

    df = process_df(df,names[i][:-5])
    print(df.index)
    df_all = pd.concat([df_all,df],axis = 1)

df_all

DatetimeIndex(['1987-05-20', '1987-05-21', '1987-05-22', '1987-05-23',
               '1987-05-24', '1987-05-25', '1987-05-26', '1987-05-27',
               '1987-05-28', '1987-05-29',
               ...
               '2021-03-06', '2021-03-07', '2021-03-08', '2021-03-09',
               '2021-03-10', '2021-03-11', '2021-03-12', '2021-03-13',
               '2021-03-14', '2021-03-15'],
              dtype='datetime64[ns]', length=12354, freq='D')
DatetimeIndex(['2018-03-26', '2018-03-27', '2018-03-28', '2018-03-29',
               '2018-03-30', '2018-03-31', '2018-04-01', '2018-04-02',
               '2018-04-03', '2018-04-04',
               ...
               '2021-03-04', '2021-03-05', '2021-03-06', '2021-03-07',
               '2021-03-08', '2021-03-09', '2021-03-10', '2021-03-11',
               '2021-03-12', '2021-03-13'],
              dtype='datetime64[ns]', length=1084, freq='D')
DatetimeIndex(['2011-01-28', '2011-01-29', '2011-01-30', '2011-01-31',
               '2011-02-01', '2011-02-02', '2011-02-03', '2011-02-04',
               '2011-02-05', '2011-02-06',
               ...
               '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06',
               '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10',
               '2021-03-11', '2021-03-12'],
              dtype='datetime64[ns]', length=3697, freq='D')
DatetimeIndex(['1990-01-02', '1990-01-03', '1990-01-04', '1990-01-05',
               '1990-01-06', '1990-01-07', '1990-01-08', '1990-01-09',
               '1990-01-10', '1990-01-11',
               ...
               '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06',
               '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10',
               '2021-03-11', '2021-03-12'],
              dtype='datetime64[ns]', length=11393, freq='D')
DatetimeIndex(['2016-01-01', '2016-01-02', '2016-01-03', '2016-01-04',
               '2016-01-05', '2016-01-06', '2016-01-07', '2016-01-08',
               '2016-01-09', '2016-01-10',
               ...
               '2021-03-03', '2021-03-04', '2021-03-05', '2021-03-06',
               '2021-03-07', '2021-03-08', '2021-03-09', '2021-03-10',
               '2021-03-11', '2021-03-12'],
              dtype='datetime64[ns]', length=1898, freq='D')

,WFI,OPECDALY Indexl,OPECDALY Indexlvol,SCP1 COMB Comdty,SCP1 COMB Comdtyvol,SPSIOP Index,SPSIOP Indexvol,VIX Index,FZWWFST VTXA Index,FZWWFST VTXA Indexvol
1987-05-20,18.63,18.01,-0.10,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-05-21,18.45,17.99,-0.02,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-05-22,18.55,17.99,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-05-23,NaN,17.99,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1987-05-24,NaN,17.99,0.00,NaN,NaN,NaN,NaN,NaN,NaN,NaN
...,...,...,...,...,...,...,...,...,...,...
2021-03-11,69.34,67.39,1.79,416.3,107405.0,3479.85,48632299.0,21.91,109806.0,109806.0
2021-03-12,68.87,68.14,0.75,421.2,80530.0,3444.23,41061406.0,20.69,103512.0,103512.0
2021-03-13,NaN,68.14,0.75,420.4,40253.0,NaN,NaN,NaN,NaN,NaN
2021-03-14,NaN,68.14,0.75,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2021-03-15,68.78,68.18,0.04,NaN,NaN,NaN,NaN,NaN,NaN,NaN

In [11]:
df_all = df_all.ffill()
df_all.to_csv("combine_pca.csv")